<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<link rel="stylesheet" type="text/css" href="mui.css" />
		<link rel="stylesheet" type="text/css" href="public.css" />
		<title>冒险</title>
	</head>

	<body><div class="loading"><img src="loading.gif"/></div>
		<div id="advenTG">
			<ul class="advenTG">
				<li v-for="data in tgData" :style="{backgroundImage:'url('+data.imgPath+')'}" @click="myobj.fightBoard(data.monsterCode)">
					<p v-text="data.name"></p>
				</li>
			</ul>
			<div class="fightBoard">
				<div class="monData">
					<div class="monInfo">
						<div :class="monster.myclass" v-text="monster.name"></div>
						<div>ATK&nbsp;:&nbsp;<span v-text="monster.ATK"></span></div>
						<div>DEF&nbsp;:&nbsp;<span v-text="monster.DEF"></span></div>
						<div>HP&nbsp;:&nbsp;<span v-text="monster.HP" class="monHp"></span></div>
					</div>
					<div class="imgbox">
						<span class="monLosehp"></span>
						<img :src="monster.imgPath" />
						<span class="attackEffect" style="display: none;"></span>
						<span class="attackEffect monEffect" style="display: none;"></span>
					</div>

				</div>
				<div class="myData">
					<div class="adven_myInfo" style="margin-bottom: .3rem;">
						<div class="imgbox">
							<span class="myLosehp"></span>
							<img :src="myData.headPath" />
							<span class="attackEffect monEffect" style="display: none;"></span>
						</div>
						<div v-text="myData.name"></div>
						<div>ATK&nbsp;:&nbsp;<span v-text="myData.ATK"></span></div>
						<div>DEF&nbsp;:&nbsp;<span v-text="myData.DEF"></span></div>
						<div>HP&nbsp;:&nbsp;<span v-text="myData.HP"></span></div>
					</div>
					<div class="adven_petInfo" style="margin-bottom: .3rem;">
						<div class="imgbox">
							<span class="myLosehp"></span>
							<img :src="myData.petimgPath" />
						</div>
						<div :class="petData.myclass" v-text="myData.petName"></div>
						<div>ATK&nbsp;:&nbsp;<span v-text="myData.petATK"></span></div>
					</div>
					<div class="btnBox">
						<input type="button" value="攻击" onclick="myobj.attack()" class="a_attack" />
						<input type="button" value="捕捉" onclick="myobj.catchMon(this)" class="a_catch"/>
						<input type="button" value="逃跑" class="runAway"/>
					</div>
				</div>
			</div>

			<div class="winnerBox">
				<div class="winnerBorder">
					<div class="imgbox">
						<img src="winner.jpg" />
					</div>
					<p style="text-align: center;">你击败了<span :class="monster.myclass" v-text="monster.name"></span>获得了：</p>
					<ul class="winDrop">
						<div class="list">
							<div class="imgbox" style="background-image: url(coin.png);"></div>
							<p v-text="'￥'+addMoney+'元'"></p>
						</div>
						<li v-for="data in myDrop" class="list">
							<div class="imgbox" :style="{backgroundImage: 'url('+data.imgPath+')'}"></div>
							<p :class="data.myclass" v-text="data.name"></p>
						</li>
					</ul>
					<div class="winner_btn">
						<button onclick="myobj.saveData()" class="mui-btn mui-btn-block">确定</button>
					</div>
				</div>
			</div>
		</div>
		<div class="mybackLink">
			<a href="GameTest.html" style="display: block;height: 100%;width: 100%;"></a>
		</div>
	</body>
	<script src="jquery-2.1.0.js"></script>
	<script src="vue.min.js"></script>
	<script src="mui.min.js"></script>
	<script src="myData.js"></script>
	<script src="common.js"></script>
	<script src="fontsize.js"></script>
	<script type="text/javascript">
		myobj.getAdvenCont();
		myobj.getajax("/getRole?myacco=" + localStorage.acco);
		$('.runAway').on('click',function(){
			return mui.alert('你逃跑了',function(){location.reload()});
		})
	</script>

</html>