<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<link rel="stylesheet" type="text/css" href="mui.css" />
		<link rel="stylesheet" type="text/css" href="public.css" />
		<title></title>
	</head>
	<style type="text/css">
		.isThis {
			background: #fff3c6!important;
		}
	</style>

	<body><div class="loading"><img src="loading.gif"/></div>
		<div id="advenContent">
			<p class="searchMap" onclick="myobj.searchMap()">查看路线</p>
			<div class="showAdven" id="showAdven">
				<p>你移动了{{myCount}}格</p>
				<button class="mui-btn btnDice" onclick="myobj.moveGrid(this)" style="float: left;">投掷骰子</button>
				<img src="dice.gif" class="diceIcon" />
				<p class="countGrid mui-btn"><input type="text" class="myPlace" disabled="disabled" v-model="myPlace" />/<span v-text="allPlace"></span></p>
				
			</div>
			<div class="advenShow"></div>
			<div class="info" style="border-top:1px solid #ccc ;margin-top: .1rem;overflow: hidden;">
				<p class="name">角色名:{{myData.name}}</p>
				<p class="ATK">总:<span class="allATK" v-text="parseInt(myData.ATK) + parseInt(myWeapon.addAttr)"></span>&nbsp;&nbsp;<span class="addAttr nowATK" v-text="'当前('+adventInfo.myATK+')'"></span></p>
				<p class="DEF">总:<span class="allDEF" v-text="parseInt(myData.DEF) + parseInt(myCloth.addAttr)"></span>&nbsp;&nbsp;<span class="addAttr nowDEF" v-text="'当前('+adventInfo.myDEF+')'"></span></p>
				<p class="HP">总:<span class="allHP" v-text="parseInt(myData.HP) + parseInt(myAmulet.addAttr)"></span>&nbsp;&nbsp;<span class="addAttr  nowHP" v-text="'当前('+adventInfo.myHP+')'"></span></p>
				<p>武器：<span :class="myWeapon.myclass" data-sea="0" v-text="myWeapon.name"></span></p>
				<p>装备：<span :class="myCloth.myclass" data-sea="0" v-text="myCloth.name"></span></p>
				<p>首饰：<span :class="myAmulet.myclass" data-sea="0" v-text="myAmulet.name"></span></p>
			</div>
			<div class="advenBox" id="advenBox">
				<ul>
					<li v-for="(data,index) in advent" v-text="(index+1)+'.'+data.name" :class="[(index+1)==myPlace?'isThis':'',data.myclass]"></li>
				</ul>
			</div>
			<p class="backIndex" onclick="myobj.back()">返回首页</p>
		</div>
	</body>
	<script src="jquery-2.1.0.js"></script>
	<script src="vue.min.js"></script>
	<script src="mui.min.js"></script>
	<script src="myData.js"></script>
	<script src="common.js"></script>
	<script src="fontsize.js"></script>
	<script>
		myobj.getMonster();
		myobj.getajax("/getInfo?myacco=" + localStorage.acco);
	</script>

</html>