<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<link rel="stylesheet" type="text/css" href="mui.css" />
		<link rel="stylesheet" type="text/css" href="public.css" />
		<title>角色信息</title>
	</head>
	<style>
		.ATK span,.DEF span,.HP span{color: #EC971F;}
	</style>

	<body><div class="loading"><img src="loading.gif"/></div>
		<div class="info" id="info">
			<div class="infoTop">
				<div class="headerimg">
					<img src="head2.jpg" />
				</div>
				<div class="nameInfo">
						<div class="name" v-text="'角色名：'+myData.name"></div>
						<div class="name money_Box" v-text="'金币：'+myData.money"></div>
					</div>
			</div>
			
		<div class="roleCont">
				<div class="cent_nav">角色</div>
				<div class="myInfo">
				<div class="roleInfo">
					<div class="ATK" v-html="'角色攻击力 :<span> '+myData.ATK+'</span>'"></div>
					<div class="DEF" v-html="'角色防御力 : <span>'+myData.DEF+'</span>'"></div>
					<div class="HP" v-html="'角色血量 : <span>'+myData.HP+'</span>'"></div>
				</div>
				<div class="petInfo">
					<div class="ATK" v-html="'宠物攻击力 :<span> '+myData.petATK+'</span>'"></div>
					<div class="ATK" v-html="'战斗力评估 : <span>'+power+'</span>'"></div>
				</div>
				</div>
				<div class="roleBorder border">
					
					<div v-for="data in equiData">
						<p :class="data.goods.myclass" :style="{backgroundImage:'url('+data.goods.imgPath+')'}" :data-data="JSON.stringify(data)" onclick="myobj.clickBox_detail(this)">
						<span class="intensify" v-text="'+'+data.inten"></span>
					</p>
					</div>
					<div v-for="data in petData" style="float: left;">
						<p :class="data.goods.myclass" :style="{backgroundImage:'url('+data.goods.imgPath+')'}" :data-data="JSON.stringify(data)" onclick="myobj.clickBox_detail(this)">
							<span class="intensify" v-text="data.level+'级'"></span>
						</p>
					</div>
					<!--
					<div><p :class="useClo.myclass" :style="{backgroundImage:'url('+useClo.imgPath+')'}" :data-data="JSON.stringify(useClo)">
						<span class="intensify" v-text="'+'+useClo.inten"></span>
					</p>
						
					</div>
					<div>
						<p :class="usePet.goods.myclass" :style="{backgroundImage:'url('+usePet.goods.imgPath+')'}" :data-data="JSON.stringify(usePet)">
							<span class="intensify" v-text="usePet.level+'级'"></span>
						</p>
						<p :class="useAmu.myclass" :style="{backgroundImage:'url('+useAmu.imgPath+')'}" :data-data="JSON.stringify(useAmu)">
							<span class="intensify" v-text="'+'+useAmu.inten"></span>
						</p>
					</div>-->
				</div>
				
		</div>
		</div>
		<div class="mybackLink">
			<a href="GameTest.html" style="display: block;height: 100%;width: 100%;"></a>
		</div>
	</body>
	<script src="jquery-2.1.0.js"></script>
	<script src="vue.min.js"></script>
	<script src="mui.min.js"></script>
	<script src="myData.js"></script>
	<script src="common.js"></script>
	<script src="fontsize.js"></script>
	<script type="text/javascript">
		//		myobj.changeHead();
		localStorage.removeItem('cur');
		hash?myobj.getajax("/getRole?myacco=" + hash):myobj.getajax("/getRole?myacco=" + localStorage.acco);
	</script>

</html>