<!DOCTYPE html>
<html>

	<head>
		<title>123123123</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>
	<link rel="stylesheet" type="text/css" href="mui.css" />
	<link rel="stylesheet" type="text/css" href="public.css" />

	<body><div class="loading"><img src="loading.gif"/></div>
		<h1 class="loginhead">登录</h1> 
		<div id="login" class="login">
			账号：<input type="text"  placeholder="请输入账号" v-model="acco" /><br/> 
			密码：<input type="password" placeholder="请输入密码" v-model="opassword" /><br/>
			<input type="button" class="loginSubm smbtn" value="登录" @click="loginSmb('1')"/>
			<a href="login.html" class="smbtn" style="margin-top: .2rem;">去注册</a>
		</div>
		<script src="jquery-2.1.0.js"></script>
		<script src="vue.min.js"></script>
		<script src="mui.min.js"></script>
		<script src="common.js"></script>
		<script src="fontsize.js"></script>
		<script>
		</script>

	</body>
</html>