<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="mui.css" />
		<link rel="stylesheet" type="text/css" href="public.css" />
		<title></title>
	</head>

	<body>
		<div class="bagInfo" id="bagInfo">
			<ul class="bagClass">
				<li class="cur"><span></span>强化</li>
				<li><span></span>转移</li>
				<li><span></span>分解</li>
			</ul>
			<ol class="bagDetail" id="bagData">
				<li class="cur">
					<div class="intenBox">
						<span class="intensify"></span>
						<div class="equi"></div>
					</div>

					<div class="intenBtn" onclick="myobj.intenEqui(this)" data-bool="1">
						强&nbsp;&nbsp;&nbsp;化
					</div>
					<div class="inten_info">
					</div>
					<p style="font-size: .25rem;color: #FF0000;">注：失败后装备不会消失但有几率掉落强化等级</p>
					<div class="myBag">
						<ul class="mybagCont bagCont border">
							<li :class="data.goods.myclass" v-for="data in equiData" onclick="myobj.equiListClick(this)" :data-mydata="JSON.stringify(data)" :style="{backgroundImage:'url('+data.goods.imgPath+')'}">
								<span :class="data.useState==1?'use':'unuse'"></span>
								<span class="intensify" v-text="'+'+data.inten"></span>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<p>左边框为材料，右边框为生成品</p>
					<div class="inten_top">
						
						<div class="put_inten">
							<span class="intensify"></span>
							<div class="equi"></div>
						</div>
						<div class="change_inten">
							<span class="intensify"></span>
							<div class="equi"></div>
						</div>
					</div>

					<div class="intenBtn" onclick="myobj.change_inten(this)" data-bool="1">
						转&nbsp;&nbsp;&nbsp;移
					</div>
					<div class="change_info">
						需要$200000<span style="color: #EC971F;" v-text="'('+myData.money+')'"></span>并且成功率为80%
						<p style="font-size: .25rem;color: #FF0000;">注：失败后两件装备都会消失</p>
					</div>
					<div class="myBag">
						<ul class="mybagCont bagCont border">
							<li :class="data.goods.myclass" v-for="data in equiData" onclick="myobj.equiListClick(this)" :data-mydata="JSON.stringify(data)" :style="{backgroundImage:'url('+data.goods.imgPath+')'}">
								<span :class="data.useState==1?'use':'unuse'"></span>
								<span class="intensify" v-text="'+'+data.inten"></span>
							</li>
						</ul>
					</div>
				</li>
				<li>
					敬请期待~
					<!--<div class="resolveBox">
						<span class="intensify"></span>
						<div class="equi"></div>
					</div>

					<div class="intenBtn" onclick="myobj.intenEqui(this)" data-bool="1">
						分&nbsp;&nbsp;&nbsp;解
					</div>
					<div class="resolve_info">
					</div>
					<div class="myBag">
						<ul class="mybagCont bagCont border">
							<li :class="data.goods.myclass" v-for="data in equiData" onclick="myobj.equiListClick(this)" :data-mydata="JSON.stringify(data)" :style="{backgroundImage:'url('+data.goods.imgPath+')'}">
								<span :class="data.useState==1?'use':'unuse'"></span>
								<span class="intensify" v-text="'+'+data.inten" style="font-weight: bold;color: #FF5053;"></span>
							</li>
						</ul>
					</div>-->
				</li>
			</ol>
			<div class="clickBox" onclick="myobj.stopClickEqui()">
				<ul>
					<li onclick="myobj.clickBox_intentPut()">放置</li>
					<li onclick="myobj.clickBox_detail()">详情</li>
				</ul>
			</div>
		</div>
		<div class="mybackLink">
			<a href="GameTest.html" style="display: block;height: 100%;width: 100%;"></a>
		</div>
	</body>
	<script src="jquery-2.1.0.js"></script>
	<script src="vue.min.js"></script>
	<script src="mui.min.js"></script>
	<script src="myData.js"></script>
	<script src="common.js"></script>
	<script src="fontsize.js"></script>
	<script>
		myobj.changeBag();
		myobj.clickBoxhide();
		myobj.getajax("/getGoods?myacco=" + localStorage.acco);
		if(localStorage.cur) {
			$('.bagClass li').eq(localStorage.cur).addClass("cur").siblings().removeClass("cur");
			$(".bagDetail>li").eq(localStorage.cur).addClass("cur").siblings("li").removeClass("cur");
		}else{
			localStorage.cur=0;
		}
	</script>

</html>