<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<link rel="stylesheet" type="text/css" href="mui.css" />
		<link rel="stylesheet" type="text/css" href="public.css" />
		<title></title>
	</head>
	<style>
		.alertLeft {
			text-align: left!important;
		}
	</style>

	<body>
		<div class="Gamecontant">
			<ul class="header">
				<li class="cur">
					<a href="GameTest.html"><span>主页</span></a>
				</li>
				<li>
					<a href="gameRole.html"><span>角色</span></a>
				</li>
				<li>
					<a href="mybag.html"><span>背包</span></a>
				</li>
			</ul>
		</div>
		<div class="bagInfo" id="bagInfo">
			<div class="info">
			<div class="infoTop">
				<div class="headerimg">
					<img src="head2.jpg" />
				</div>
				<div class="name" v-text="myData.name"></div>
			</div>
			</div>
			<ul class="bagClass">
				<li class="cur"><span></span>装备</li>
				<li><span></span>其他</li>
				<li><span></span>装备</li>
				<li><span></span>装备</li>
			</ul>
			<ol class="bagDetail" id="bagData">
				<!--<div class="myMoney">我的金币<span v-text="myData.money+'元'" style="float: right;"></span></div>-->
				<li class="cur">
				<ul class="bagCont">
					<li v-for="data in equiData" onclick="myobj.equiListClick(this)" :data-mydata="JSON.stringify(data)" :style="{backgroundImage:'url('+data.goodsInfo.imgPath+')'}">
						<!--<span :class="data.goodsInfo.myclass" v-text="data.goodsInfo.name" ></span>-->
						<span :class="data.useState==1?'use':'unuse'"></span>
					</li>
				</ul>
			</li>
			<li>
				<!--<ul class="bagCont mui-table-view">
					<li v-for="data in medicine" class="mui-table-view-cell" onclick="myobj.equiListClick(this)" :data-mydata="JSON.stringify(data)"><span :class="data.goodsInfo.myclass" v-text="data.goodsInfo.name"></span><span class="number" v-text="'×'+data.num"></span></li>
				</ul>-->
			</li>
			<li>
				<!--<ul class="bagCont mui-table-view">
					<li v-for="data in material" class="mui-table-view-cell" onclick="myobj.equiListClick(this)" :data-mydata="JSON.stringify(data)"><span :class="data.goodsInfo.myclass" v-text="data.goodsInfo.name"></span><span class="number" v-text="'×'+data.num"></span></li>
				</ul>-->
			</li>
			<li>4</li>
			</ol>
			<div class="clickBox" onclick="myobj.stopClickEqui()">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" onclick="myobj.clickBox_use()">使用</li>
					<li class="mui-table-view-cell" onclick="myobj.clickBox_detail()">详情</li>
					<li class="mui-table-view-cell" onclick="myobj.clickBox_sale()">出售</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="jquery-2.1.0.js"></script>
	<script src="vue.min.js"></script>
	<script src="mui.min.js"></script>
	<script src="myData.js"></script>
	<script src="common.js"></script>
	<script src="fontsize.js"></script>
	<script>
		myobj.changeBag();
		myobj.clickBoxhide();
		myobj.getajax("/getGoods?myacco=" + localStorage.acco);
		if(localStorage.cur) {
			$('.bagClass li').eq(localStorage.cur).addClass("cur").siblings().removeClass("cur");
			$(".bagDetail>li").eq(localStorage.cur).addClass("cur").siblings("li").removeClass("cur");
		}
	</script>

</html>