<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<link rel="stylesheet" type="text/css" href="mui.css" />
		<link rel="stylesheet" type="text/css" href="public.css" />
		<title>我的好友</title>
	</head>
	<body>
		
		<div class="bagInfo" id="bagInfo">
			<!--<div class="info">
				<div class="infoTop">
					<div class="headerimg">
						<img src="head2.jpg" />
					</div>
					<div class="nameInfo">
						<div class="name" v-text="'角色名：'+myData.name"></div>
						<div class="name money_Box" v-text="'金币：'+myData.money"></div>
					</div>
				</div>
			</div>-->
			<p style="text-align: center;color: #fff900;">搜索添加好友：</p>
			<div class="searchBox">
				<select>
					<option value="1">账号</option>
					<option value="2">名字</option>
				</select>
				<input type="text" id="" value="" placeholder="请输入好友名字或账户" v-model="friendInfo"/>
				<input type="button" value="添加" onclick="myobj.addFriend(this)"/>
				
			</div>
			
			<ul class="friendList"  v-if="hasFriend">
				<p style="color: #fff900;">您的好友列表：</p>
				<li v-for="data in myData">
					<div class="headerimg" :data-acco="data.friendAcco" onclick="myobj.friendListClick(this)">
						<img src="head2.jpg" />
					</div>
					<div class="friendInfo">
						<div class="name" v-text="'角色名:'+data.friendName"></div>
						<div class="money" v-text="'账号:'+data.friendAcco"></div>
					</div>
					<button  class="mui-btn mui-btn-royal" onclick="myobj.deul(this)" :data-acco="data.friendAcco">决斗</button>
					<button  class="mui-btn mui-btn-danger" onclick="myobj.delFriend(this)" :data-acco="data.friendAcco">删除</button>
				</li>
			</ul>
			<div class="listNone" v-else="hasFriend" v-text="myData.msg"></div>
			<div class="fightBoard">
				<div class="friend">
					
				</div>
				<div class="myData">
					
				</div>
			</div>

			<div class="winnerBox">
				<div class="winnerBorder">
					<div class="imgbox">
						<img src="winner.jpg" />
					</div>
					<!--<p style="text-align: center;">你击败了<span :class="monster.myclass" v-text="monster.name"></span></p>-->
					<div class="winner_btn">
						<button class="mui-btn mui-btn-block">确定</button>
					</div>
				</div>
			</div>
			
			<div class="clickBox" onclick="myobj.stopClickEqui()">
				<ul>
					<li onclick="myobj.searchFriend()">信息</li>
				</ul>
			</div>
			
		</div>
		<div class="mybackLink">
			<a href="GameTest.html" style="display: block;height: 100%;width: 100%;"></a>
		</div>
	</body>
	<script src="jquery-2.1.0.js"></script>
	<script src="vue.min.js"></script>
	<script src="mui.min.js"></script>
	<script src="myData.js"></script>
	<script src="common.js"></script>
	<script src="fontsize.js"></script>
	<script>
		myobj.clickBoxhide();
		myobj.getajax("/addFriend?myacco=" + localStorage.acco);
	</script>
</html>