<!DOCTYPE html>

<html manifest="cache.appcache">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/mui.css" />
		<link rel="stylesheet" type="text/css" href="/public.css" />
		<title>我的好友</title>
	</head>

	<body>
	
		<div class="loading"><div id="ajaxloader3"><div class="outer"></div><div class="inner"></div></div></div>
		<div class="bagInfo" id="bagInfo">
	
			<ul class="friendList" v-if="hasFriend">
				<p style="color: #fff900;">您的好友列表：</p>
				<li v-for="data in friendData">
					<div class="headerimg" :data-acco="data.friendAcco" onclick="myobj.friendListClick(this)">
						<img :src="data.friendImg" />
					</div>
					<div class="friendInfo">
						<div class="name" v-text="'角色名:'+data.friendName"></div>
						<div class="money" v-text="'账号:'+data.friendAcco"></div>
					</div>
					<button class="mui-btn mui-btn-royal" onclick="myobj.deul(this)" :data-acco="data.friendAcco">决斗</button>
					<button class="mui-btn mui-btn-danger" onclick="myobj.delFriend(this)" :data-acco="data.friendAcco">删除</button>
				</li>
			</ul>
			<div class="listNone" v-else="hasFriend" v-text="myData.msg"></div>
			<div class="fightBoard">
				<div class="friend">
	
				</div>
				<div class="myData">
	
				</div>
			</div>
	
			<div class="clickBox" onclick="myobj.stopClickEqui()">
				<ul>
					<li onclick="myobj.searchFriend()">信息</li>
					<li>赠送</li>
				</ul>
			</div>
	
		</div>
		<div class="mybackLink">
			<a href="GameTest.html" style="display: block;height: 100%;width: 100%;"></a>
		</div>
	</body>
<script src="/fontsize.js"></script>
<script src="/jquery-2.1.0.js"></script>
<script src="/vue.min.js"></script>
<script src="/mui.min.js"></script>
<script src="/myData.js"></script>
<script src="/common.js"></script>
<script>
	myobj.clickBoxhide();
	//		myobj.getajax("/addFriend?myacco=" + localStorage.acco);
</script>

</html>